{% extends "base.html" %}



{% block content %}
<body>
    <div
  class="bg-image"
  style="
    background-image: url('/media/IMG/gfnjfgn.jpg');
    height: 100vh;
    width: 100vw;
    z-index: -1;
    position: absolute;
    
  "
    >
  </div>
    <form  method="post">
            <div class="position-absolute top-50 start-50 translate-middle">
            <div class="square1"></div>
            <div class="line"></div>
           {% csrf_token %}
           {{ form.as_p }}
           {% for error in form.captcha.error %}
           <p>{{ error }}</p>
           {% endfor %}
           <div class="abc">
           <button class="btn btn-primary" type="submit">Войти</button>
          </div>
          <div class="Forgotpass">
          <a href="{% url 'password_reset' %}">Forgot Password?</a>
        </div>
        </div>
          
       </form>
</body>
{% endblock %}