{% extends "base.html" %}


{% block content %}

<body>
    <div
  class="bg-image"
  style="
    background-image: url('/media/IMG/jason-wang-5MG8cQbw-T8-unsplash.jpg');
    height: 100vh;
    width: 100vw;
    z-index: -1;
    position: absolute;
    
  "
    >
  </div>

<form method="post">
    <div class="position-absolute top-50 start-50 translate-middle">
        <div class="square"></div>
    {% csrf_token %}
    {{ form.as_p }}
    {% for error in form.captcha.error %}
    <p>{{ error }}</p>
    {% endfor %}
    <button type="submit" style="color: black;" class="btn btn-primary">Зарегистрироваться</button>
    </div>
</form>
{% endblock %}